body {
    margin: 0%;
}

img.logo {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}

div.header {
    padding: 1em;
    background-color: #0097A7 /*#EF5350*/;
    margin-bottom: 1em;
    color: white;
    font-size: 1.5em;
}

div.tweet {
    float:left;
    width: 96%;
    padding: 2%;
}

div.profile {
    float: left;
    width: 10%;
    text-align: center;
    /* background: #AAFFAA */;
}

img.profile_image {
    width: 4em;
    height: 4em;
    max-height: 15%;
    border-radius: 15%;
}

img.tweet_image {
    max-width: 80%;
    max-height: 30%;
}

div.body {
    float: left;
    width: 80%;
/*     background: #AAFFFF; */
}

div.text {
    float: left;
    width: 100%;
    height: auto;
    font-size: 2em;
/*     background: #AAAAFF; */
}

div.info {
    float: left;
    width: 100%;
    bottom: 0;
    font-size: 1em;
    color: #888888;
/*     background: #FFAAAA; */
}

span.user {
    color: black;
    font-weight: bold;
/*     background: #FFAAAA; */
}

div.star {
    float: left;
    width: 10%;
    font-size: 3em;
    text-align: center;
    color: gray;
/*     background: #FFFFAA; */
}

div.media {
    font-size: 0.5em;
}

div.footer {
    text-align: right;
}

button#more {
    margin-right: 2em;
    width: 3em;
    height: 3em;
    border-radius: 3em;
    font-size: 2em;
    border-style: none;
    color: white;
    background-color: #F44336;
    outline: none;
}

button#update {
    margin-right: 1em;
    width: 3em;
    height: 3em;
    border-radius: 3em;
    font-size: 2em;
    border-style: none;
    color: white;
    background-color: #4DD0E1;
    outline: none;
}

button#stared {
    width: 80%;
    margin-left: 10%;
    font-size: 2em;
}
